*{
    margin: 0;
    font-family: 'Questrial', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    

}

@font-face {
    font-family: 'Questrial';
    src: url('fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#caja_titulo{
    background-color: lightblue;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/mejillones_capitania.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    color: white;
}

#titulo{
    font-size: 50px;
    text-align: center;
    backdrop-filter: blur(1px);
    color: rgb(255, 255, 255);
    background-color: hsla(0, 0%, 7%, 0.3);
    padding: 30px;
    background-color: 100%;
    width: 100%;
}

#introduccion{
    width: 100%;
    height: 400px;
    
}

#contenedor_curiosidades{
    width: 100vhd;
    height: 1200px;
    background-color: rgb(44, 44, 44);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagen_condorito{
    margin: auto;
}

.caja_curiosidad {
    width: 85%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2%;
    border: 1px solid black;
    color: white
}

.parrafo_entrada{
    margin-top: 20px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 2px;
    max-height: 100%;
    margin-top: 10px;
}

